/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./reset.css");
@import url("./variables.css");

html,
body {
	font-family: "Roboto", sans-serif;
	color: var(--md-on-surface);
	background-color: var(--md-surface);

	scrollbar-width: thin;
	scrollbar-color: var(--md-primary) var(--md-surface);
}

::selection {
	color: var(--md-on-surface);
	background-color: var(--md-surface-variant);
}

#root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	gap: 12px;
	padding: 1rem;

	margin-top: 60px;
	margin-bottom: 50px;
}

a {
	color: var(--md-primary);
}
