:root {
	/* Matugen */

	--background: #1a1110;

	--error: #ffb4ab;

	--error_container: #93000a;

	--inverse_on_surface: #392e2c;

	--inverse_primary: #904b3e;

	--inverse_surface: #f1dfdb;

	--on_background: #f1dfdb;

	--on_error: #690005;

	--on_error_container: #ffdad6;

	--on_primary: #561e14;

	--on_primary_container: #ffdad3;

	--on_primary_fixed: #3a0a04;

	--on_primary_fixed_variant: #733428;

	--on_secondary: #442a24;

	--on_secondary_container: #ffdad3;

	--on_secondary_fixed: #2c1511;

	--on_secondary_fixed_variant: #5d3f3a;

	--on_surface: #f1dfdb;

	--on_surface_variant: #d8c2bd;

	--on_tertiary: #3d2e04;

	--on_tertiary_container: #fae0a6;

	--on_tertiary_fixed: #251a00;

	--on_tertiary_fixed_variant: #554519;

	--outline: #a08c89;

	--outline_variant: #534340;

	--primary: #ffb4a6;

	--primary_container: #733428;

	--primary_fixed: #ffdad3;

	--primary_fixed_dim: #ffb4a6;

	--scrim: #000000;

	--secondary: #e7bdb5;

	--secondary_container: #5d3f3a;

	--secondary_fixed: #ffdad3;

	--secondary_fixed_dim: #e7bdb5;

	--shadow: #000000;

	--source_color: #ee715a;

	--surface: #1a1110;

	--surface_bright: #423735;

	--surface_container: #271d1c;

	--surface_container_high: #322826;

	--surface_container_highest: #3d3230;

	--surface_container_low: #231918;

	--surface_container_lowest: #140c0b;

	--surface_dim: #1a1110;

	--surface_tint: #ffb4a6;

	--surface_variant: #534340;

	--tertiary: #dcc48c;

	--tertiary_container: #554519;

	--tertiary_fixed: #fae0a6;

	--tertiary_fixed_dim: #dcc48c;

	/* Matugen end  */

	--color-primary: var(--primary);
	/* --color-primary-80: alpha(var(--primary)); */
	--color-ternary: var(--tertiary);
	--color-secondary: var(--surface_container);
	--color-background: var(--background);
	--color-background-80: hsla(36, 10%, 10%, 80%);

	--color-text: var(--on_background);
	--color-subtext: var(--on_secondary_container);

	--color-selection-text: hsl(30, 88%, 68%);
	--color-selection-background: hsl(27, 14%, 20%);

	--color-red: hsl(0, 73%, 54%);

	--color-shikimori: #cdd2d0;
	--color-shikimori-hover: #1a4646;
	--color-animego: #c33d37;
	--color-animego-hover: #b03832;
	--color-hanime: #d19c2e;
	--color-hanime-hover: #b68628;
	--color-nhentai: #ad0e33;
	--color-nhentai-hover: #910f2d;

	/* Text size */
	--text-size-mini: 0.675rem;
	--text-size-small: 0.875rem;
	--text-size-base: 1rem;
	--text-size-medium: 1.25rem;
	--text-size-large: 1.5rem;
	--text-size-xl: 1.75rem;
	--text-size-2xl: 2rem;
	--text-size-body: var(--text-size-base);
	--text-size-title: var(--text-size-large);

	--text-weight-body: 400;
	--text-weight-title: 600;
	--text-weight: var(--text-weight-body);

	--blur: blur(8px);
	--animation: width 200ms, height 200ms, transform 200ms, opacity 200ms, scale 200ms, filter 200ms,
		background-color 200ms, color 200ms, border 200ms, box-shadow 200ms;
}

@media (prefers-color-scheme: light) {
	:root {
		--color-primary: hsl(30, 88%, 64%);
		--color-primary-80: hsla(30, 88%, 64%, 80%);
		--color-ternary: hsl(27, 14%, 80%);
		--color-secondary: hsl(27, 4%, 84%);
		--color-background: hsl(36, 10%, 98%);
		--color-background-80: hsla(36, 10%, 98%, 80%);

		--color-text: hsl(30, 100%, 10%);
		--color-subtext: hsl(30, 30%, 25%);

		--color-selection-text: hsl(30, 88%, 68%);
		--color-selection-background: hsl(27, 14%, 20%);
	}
}
