.anime_vertical_card {
	display: flex;
	flex-direction: column;
	width: 48%;
	text-decoration: none;
	color: inherit;
	padding: 4px;
	border-radius: 12px;

	transition: background-color 200ms, scale 200ms;

	&:hover {
		background-color: var(--color-primary-80);
		scale: 1.05;
	}

	.poster {
		width: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		padding: 4px;
		aspect-ratio: 9/12;

		.top {
			width: 100%;
			height: fit-content;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.bottom {
			width: 100%;
			height: fit-content;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}

	.info {
		display: flex;

		padding: 4px;
	}
}

@media screen and (min-width: 600px) {
	.anime_vertical_card {
		width: calc(100% / 3 - 12px);

		.poster {
			aspect-ratio: 9/14;
		}
	}
}

@media screen and (min-width: 900px) {
	.anime_vertical_card {
		width: calc(100% / 5 - 12px);

		.poster {
			aspect-ratio: 9/14;
		}
	}
}

/* Context menu */
.context_button {
	width: 100%;
	padding: 12px;
}

.mini_preview {
	display: flex;
	gap: 12px;

	.mini_poster {
		height: 200px;
		border-radius: 12px;
	}

	.context_subinfo {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}

@media screen and (min-width: 600px) {
	.mini_preview {
		display: flex;

		.mini_poster {
			width: 20%;
		}
	}
}
