.bottom_navigation {
	position: fixed;
	bottom: 10px;
	left: 50%;
	translate: -50%;
	width: fit-content;
	display: flex;
	align-items: center;
	padding: 8px;
	gap: 4px;
	background-color: var(--md-surface);
	border: 2px solid var(--md-surface-container);
	border-radius: 50px;
	z-index: 100;

	.active_indicator {
		position: fixed;
		visibility: hidden;
		width: 50px;
		height: 50px;
		padding: 15px;
		background-color: var(--md-primary);
		border-radius: 50px;
		transition: left 250ms;
		z-index: 2;
	}

	.active_indicator_start,
	.active_indicator_end {
		width: 50px;
		height: 50px;
		padding: 15px;

		border-radius: 50px;
		position: fixed;
		background-color: var(--md-surface-container);
		z-index: 1;
		float: right;
	}

	.active_indicator_start {
		transition: width 350ms;
	}

	.active_indicator_end {
		right: 0;
	}

	.bottom_navigation_item {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		border-radius: 50px;
		color: var(--md-on-surface);
		transition: var(--animation);

		z-index: 3;

		&:not(.active):hover {
			color: var(--md-on-surface);
			background-color: var(--md-surface-container);
		}

		&.active {
			color: var(--md-on-primary);
		}
	}
}
