.useritem {
	display: flex;
	position: relative;
	align-items: center;
	text-decoration: none;
	gap: 8px;
	transition: var(--animation);

	&:hover {
		background-color: var(--md-surface-variant);
	}

	&[data-variant="mini"] {
		width: fit-content;
		height: fit-content;
		flex-direction: column;
		gap: 4px;

		.avatar {
			width: 64px;
			height: 64px;
			border-radius: 18px;
		}

		& > *:last-child {
			margin-left: 0;
		}
	}

	.avatar {
		width: 48px;
		height: 48px;
		border-radius: 18px;
	}

	& > *:last-child {
		margin-left: auto;
	}
}
