.user_rates {
	display: flex;
	flex-direction: column;
	gap: 18px;

	.filters {
		display: flex;
		overflow-x: scroll;
		gap: 8px;

		.filter {
			border: 2px solid var(--md-surface-container);
			padding: 4px 8px;
			border-radius: 8px;
			transition: all 300ms;
			cursor: pointer;

			color: var(--md-on-surface);

			text-decoration: none;

			@media (hover: hover) {
				&:hover {
					border: 2px solid var(--md-surface-variant);
				}
			}

			&[data-active="true"] {
				border: 2px solid var(--md-primary);
				background-color: var(--md-primary);
				color: var(--md-on-primary);
			}
		}
	}
}

@media screen and (min-width: 600px) {
	.user_rates {
		.filters {
			scrollbar-width: none;
		}
	}
}
