.notification_layout {
	position: fixed;
	top: 80px;
	left: 50%;
	translate: -50% 0;

	width: 100%;
	height: fit-content;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;

	z-index: 10000;

	.notification {
		width: 97%;
		min-height: 40px;
		display: flex;
		align-items: center;
		gap: 12px;
		color: var(--md-on-surface);
		background-color: var(--md-surface);
		border: 2px solid var(--md-surface-container);
		border-radius: 12px;
		padding: 8px;

		font-weight: 600;

		.close_button {
			display: flex;
			padding: 4px;

			/* color: var(--color-primary); */
			margin-left: auto;
		}
	}
}
