.container {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: var(--padding);
	background-color: var(--color-background-80);
	backdrop-filter: var(--blur);
	cursor: pointer;
	gap: 4px;

	z-index: 10000;

	.indicator {
		width: 30%;
		height: 3px;
		border-radius: 16px;
		background-color: var(--color-primary);
		transition: var(--animation);
	}
}

.bottom_sheet {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 8px;
	cursor: default;

	overflow-y: scroll;
	background-color: var(--color-background);
	border: 2px solid var(--color-secondary);
	border-radius: 16px;

	.title {
		font-size: var(--text-size-h4);
		font-weight: 600;
	}
}
