.container {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: var(--padding);
	background-color: var(--color-background-80);
	backdrop-filter: var(--blur);
	cursor: pointer;
	gap: 4px;

	z-index: 10000;

	.indicator {
		width: 10%;
		height: 4px;
		border-radius: 16px;
		background-color: var(--color-ternary);
		transition: var(--animation);
		margin: 4px 0 4px 50%;
		translate: -50%;
	}
}

.bottom_sheet {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 8px;
	cursor: default;

	overflow-y: scroll;
	background-color: var(--color-background);
	border: 2px solid var(--color-secondary);
	border-radius: 16px;

	.title {
		padding: 4px;
	}

	.content {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		gap: 8px;

		&[data-orientation="vertical"] {
			flex-direction: column;
		}
	}
}
