.hello_widget {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 8px;
	border-radius: 12px;
	color: var(--color-background);
	background-color: var(--color-primary);

	.settings_button {
		padding: 0;
	}
}
