.hello_widget {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 6px;
	border-radius: 12px;
	/* color: var(--md-on-primary); */
	background-color: var(--md-surface-container);

	.shape {
		border-radius: 21px;
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		background-color: var(--md-tertiary);
		padding: 12px 18px;
	}

	.settings_button {
		padding: 0;
	}
}
