.user_rate_edit_container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 18px;

	.selects {
		display: flex;
		gap: 8px;
	}

	.actions {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 4px;

		&[data-isexist="false"] {
			.save_button {
				border-radius: 16px;
			}
		}

		.delete_button {
			width: 25%;
			height: 45px;
			background-color: var(--color-red);
			color: var(--color-text);
			border: 2px solid var(--color-red);
			padding: 12px 16px;

			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
		}

		.save_button {
			width: 100%;
			height: 45px;
			padding: 12px 16px;

			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
		}
	}
}
