.page {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: center;

	.options {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 8px;

		.line {
			width: 100%;
			display: flex;
			justify-content: center;
			gap: 8px;
		}

		.option {
			width: 100%;
			font-size: var(--text-size-body);
			border-radius: 8px;

			& > * {
				padding: 8px 16px;
			}
		}
	}

	.search {
		width: 80%;
	}
}
