.user_options {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;

	gap: 8px;

	.option {
		display: flex;
		align-items: center;
		gap: 8px;
		cursor: pointer;
		transition: var(--animation);

		color: var(--md-on-surface-container);
		text-decoration: none;

		&:hover {
			background-color: var(--md-surface-variant);
		}

		svg {
			color: var(--md-primary);
		}
	}
}
