.anime_more_info {
	width: 100%;
	justify-content: center;

	.element {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 4px;

		.title {
			font-size: var(--text-size-h6);
			color: var(--color-subtext);
		}

		.content {
			font-weight: 600;
		}
	}
}
