.bottom_navigation {
	width: 100%;
	height: 60px;
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;

	background-color: var(--color-background);
	border-radius: 16px;

	.center {
		width: fit-content;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.left {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.right {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.item {
		position: relative;
		width: max-content;
		min-width: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 4px;
		text-decoration: none;
		color: inherit;
		background-color: var(--color-secondary);
		padding: 8px 12px;
		border-radius: 16px;
		transition: all 300ms;

		& span {
			transition: all 300ms;
			position: absolute;
			visibility: hidden;
			width: 0;
			opacity: 0;
		}
	}

	.active {
		& span {
			width: 100%;
			visibility: visible;

			opacity: 1;
			position: static;
		}
	}
}
