.more_screenshots_button {
	color: var(--color-text);
}

.anime_screenshots_container {
	display: flex;
	overflow-x: scroll;
	/* border-radius: var(--radius); */
	gap: 8px;
	border-radius: 16px;

	/* background-color: var(--color-secondary); */

	.anime_screenshot_image {
		width: 350px;
		height: 150px;
		max-width: 100%;
		max-height: 100%;

		border-radius: 16px;
	}
}
