.content {
	display: flex;
	flex-direction: column;
	gap: 8px;

	.franchise {
		width: 100%;
		/* height: 100px; */
		display: flex;
		align-items: center;
		gap: 8px;
		/* padding: 4px; */
		color: inherit;
		text-decoration: none;
		border: var(--border-transparent);

		&[data-iscurrent="true"] {
			.index {
				color: var(--md-on-primary);
				background-color: var(--md-primary);
			}
		}

		.index {
			min-width: 25px;
			min-height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 600;

			/* padding: 8px; */
			border-radius: 9999px;
		}

		.info {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;

			gap: 8px;

			.name {
				font-size: 21px;
				font-weight: 600;
			}
		}
		.year {
		}

		.poster {
			min-width: 70px;
			height: 100%;
			border-radius: 16px;
		}
	}
}
